* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(75, 75, 75);
}

div {
    width: 80%;
    background-color: steelblue;
    margin: auto;
}

p {
    text-align: center;
    color: white;
}